.featured {
    padding-bottom: 80px;
}

.featured__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @media(max-width: 768px) {
        margin-bottom: 30px;
    }
}