.feedback {
    padding: 80px 0;
    background-color: #f0f2f3;
}

.feedback__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;

    @media(max-width: 768px) {
        margin-bottom: 30px;
    }
}

.feedback__cards {
    overflow: hidden;
    // display: flex;
    // justify-content: space-between;
}

.feedback__card {
    position: relative;
    max-width: 648px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 40px 0 rgba(39, 35, 67, 0.08);
    background-color: #fff;

    &::after {
        content: url('./../img/icons/item.svg');
        position: absolute;
        right: 34px;
        bottom: 45px;
    }
}

.feedback__text {
    margin-bottom: 24px;
    padding-left: 24px;
    box-shadow: inset 2px 0 0 0 #029fae;

    p {
        font-size: 20px;
        line-height: 150%;
        text-transform: capitalize;
        color: #636270;

        @media(max-width: 520px) {
            font-size: 16px;
        }
    }
}

.feedback__user  {
    display: flex;
    gap: 12px;
}

.feedback__user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.feedback__user-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-transform: capitalize;
    color: #272343;
}

.feedback__user-prof {
    font-size: 16px;
    line-height: 140%;
    text-transform: capitalize;
    color: #9a9caa;
}