.breadcrumbs {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    &__link {
        transition: color 0.3s ease-in-out;
        &:focus {
            outline: 2px solid #007580;
            outline-offset: 2px;
        }

        &:hover {
            color: #007580;
        }
    }

    @media(max-width: 480px) {
        flex-wrap: wrap;
    }
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 110%;
    text-transform: capitalize;
    text-align: center;
    color: #636270;

    &:not([href]) {
        font-weight: 500;
        color: #272343;
    }
}